<div class="border border-warning info-preview">
  <h1 class="stats-preview-title text-center">Personal Stats</h1>

  <div class="preview-table-1 table-responsive">
    <table class="table table-sm table-hover text-center header-fixed">
      <thead>
      <tr>
        <th>Games Played</th>
        <th>Games Won</th>
        <th>Games Lost</th>
        <th>Scored</th>
        <th>Assisted</th>

        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>

        <tr>
          <td>
            100
          </td>

          <td>
            64
          </td>

          <td>
            36
          </td>

          <td>
            25
          </td>

          <td>
            30
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>