<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <%= render "games/game_table_header_row" %>
  </thead>

  <tbody>
    <% @games.each do |game| @game = game%>
      <%= render "games/game_table_body_row" %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path if user_signed_in? %>
